.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container h1 {
  margin: 84px 0 24px;
}

.container input {
  background: #E6E6E6;
  border-radius: 5px;
  border: none;
  font-size: 1.25rem;
  padding: 24px;
  width: 50%;
}

.container button {
  background: #EA5C89;
  border: none;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 12px 0 84px;
  padding: 24px;
  transition: filter 0.3s;
  width: 50%;
}

.container button:hover {
  filter: brightness(0.9);
}